<!--templates/base.html-->
{% load static %}
<html>
    <head>
        <title>Django Blog App</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="\stylesheet">
        <link rel="stylesheet"href="{% static 'css/base.css' %}" >
    </head>
    <body>
        <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'contacts' %}">Contacts</a>
        <br>
        <header>
            <div class='nav-left'>
                <h1>
                    <a href="{% url 'home' %}">
                        Homepage
                    </a>
                </h1>
            </div>
            <div class = "nav-right">
                <a href="{% url 'book_new' %}">
                    + New book
                </a>

            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Greetings, {{user.username}}</p>
            <a href="{% url 'logout' %}">LogOut</a>
        {% else %}
            <p>New User?</p>
            <a href="{% url 'signup' %}">SignUp</a>
            <p>Already registrated?</p>
            <a href="{% url 'login' %}">Log in</a>
        {% endif %}
        <div>
            {% block content%}

            {% endblock content%}
        </div>

    </body>
</html>